/* Обнуляющий стиль */
@import "null.css";
/* ================================================================================================= */
/* Подключение шрифтов */
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Larsseit", sans-serif;
}
/* ================================================================================================= */
/* Оболочка */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================================================= */
/* Ограничивающий контейнер */
/* [class*="__container"] { 
}*/
/* ================================================================================================= */
